html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    background-color: #eee8d5;
    color: #657b83;

    font-size: 5rem;
}

main {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    color: #d33682
}

#egg > input {
    border: 1px solid #d33682;
    font-size: 3rem;
    background-color: #eee8d5;
}

#egg > button {
    padding: 10px 15px 10px 15px;
    border: 2px solid #d33682;
    background-color: #eee8d5;
    text-align: center;
    font-size: 4rem;
}

#result {
    margin-top: 60px;
}