<main class="container">
    <div class="alert alert-danger mt-3" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{message}}
    </div>
</main>
