<main class="container" role="main">
    <div class="mt-3 alert alert-warning" role="alert">
        We're currently migrating our database to support humongous amounts of questions. During this time it's not
        possible to create or answer questions or create new accounts. <br> Thanks for you patience!
    </div>

    <div class="jumbotron">
        <h1>Welcome to Stackunderflow!</h1>
        <p>Stackunderflow is a question and answer site for programming-related questions. Feel free to ask and answer questions.</p>
    </div>
</main>
